# Ignore IDE settings
.idea/
.vscode/

# Ignore dependencies
node_modules/
.cache/
dist/
build/
out/

# Ignore system files
.DS_Store
Thumbs.db

# Node/React
mycollegemart-frontend/node_modules/
mycollegemart-frontend/build/
mycollegemart-frontend/.env

# Java/Spring Boot
mycollegemart-backend/target/
mycollegemart-backend/.env
mycollegemart-backend/.idea/
mycollegemart-backend/.classpath
mycollegemart-backend/.project
mycollegemart-backend/.settings/

# OS/Editor
.DS_Store
*.iml
*.log
.idea/

*.swp

